---
import StepLayout from "../layouts/StepLayout.astro";
import { Step4Form } from "@/components/organisms/Step4Form";
---

<StepLayout
    title="The Support Circle"
    subtitle="One last step before we create your plan."
    stepPath="/step4"
    backUrl="/step3"
>
    <div class="w-full">
        <Step4Form client:load />
    </div>
</StepLayout>
