---
import StepLayout from '../layouts/StepLayout.astro';
import { Step3Form } from '@/components/organisms/Step3Form';
---

<StepLayout
  title="Environment, Digital & Lifestyle"
  subtitle="Help us understand your wishes for the future."
  stepPath="/step3"
  backUrl="/step2"
>
  <div class="w-full">
    <Step3Form client:load />
  </div>
</StepLayout>
